{% extends 'base.html' %}

{% block whole_content %}
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        {% if success %}
        <div class="alert alert-success">
            Your SMS message was successfully sent.
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Send SMS
            </div>
            <div class="panel-body">
                <form method="POST">
                    {% csrf_token %}
                    <h3>
                        Location: <b>{{ moderator.location }}</b>
                    </h3>
                    {{ form.as_p }}
                    <br />
                    <input type="submit" value="Send" class="btn btn-lg btn-success" />
                </form>
            </div>
        </div>
    </div>
{% endblock whole_content %}
