{% extends 'base.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet-0.7/leaflet.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
{% endblock extra_css %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}leaflet-0.7/leaflet-src.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}leaflet-0.7/leaflet.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/index-map.js"></script>
    <script type="text/javascript" src="http://js.pusher.com/2.1/pusher.min.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/pusher-main.js"></script>
{% endblock extra_js %}

{% block main_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="input-group input-group-md">
                <span class="input-group-addon">Filter by city</span>
                <select class="form-control" name="city-filter">
                    <option>no filter</option>
                    {% for data in aggregated_data %}
                    <option data-code="{{ data.city.code }}" data-name="{{ data.city.name }}"
                            data-latitude="{{ data.city.latitude }}" data-longitude="{{ data.city.longitude }}"
                            data-weather-status="{{ data.weather_status }}">
                        {{ data.city.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="panel-body">
            <div id="map">
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block right_content %}
    <ul class="list-group">
        <h4>Feeds</h4>
        {% for message in messages %}
            <li class="list-group-item">
                <span class="badge">{{ message.date_received|date:"M-d" }}</span>
                {{ message.content }}
                <br />
                <small class="muted">
                    {% if message.subscriber.name %}
                    {{ message.subscriber.name|title }}, 
                    {% endif %}
                    {{ message.subscriber.phone }}
                    {% if message.subscirber.location.name %}
                    , {{ message.subscriber.location.name }}
                    {% endif %}
                </small>
            </li>
        {% endfor %}
    </ul>
{% endblock right_content %}

{% block bottom_content %}
    <div class="row">
    </div>
    <div class="row">
        <h2><i class="glyphicon glyphicon-cloud glyphicon-lg"></i> Weather Info</h2>
        {% for data in aggregated_data %}
        <div class="col-9 col-sm-9 col-lg-6">
            <h4>{{ data.city|title }}</h4>
            <p class="mute">
            {{ data.subscribers }} Subscriber{{ data.subscribers|pluralize }}
            </p>
            <p>
            {{ data.weather_status|title }}
            </p>
            <hr />
        </div>
        {% endfor %}
    </div>
{% endblock bottom_content %}